* {
    margin: 0;
    text-decoration: none;
    font-family: "Lexend", sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}

#content {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-default);
    display: flex;
    flex-direction: column;
}

.header__page {
    width: 100%;
    height: 15vh;
    background-color: var(--background-default);
    display: flex;
    justify-content: center;
    align-items: center;
}

#portifolioText {
    width: 270px;
    height: 250px;
    opacity: 0.8;
}

.content_page {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    background-color: var(--background-default);
    align-items: center;
}

.fa-circle-arrow-left {
    font-size: 25px;
    cursor: pointer;
    position: fixed;
    left: 5vw;
    color: #fff;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.fa-circle-arrow-left:hover {
  transform: scale(1.2);
  filter: drop-shadow(1px 1px 30px  var(--text-colors-in-page) );
}

.txt_in_header {
    color: #fff;
}


#exampleProject {
    width: 600px;
    height: auto;
}

.card_project {
    display: flex;
    align-items: center;
    
}

.card_project button {
    cursor: pointer;
    margin: 20px;
    padding: 10px 50px;
}